html, body {
    margin: 0; 
}

.navbar {
    height: 20%;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

}

h1, li {
    color: white; 
}